<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="artistRepository" class="co.music.discography.repositories.ArtistRepository" init-method="init">
    </bean>

    <bean id="trackRepository" class="co.music.discography.repositories.TrackRepository">
    </bean>

    <bean id="artistService" class="co.music.discography.services.ArtistService">
        <property name="artistRepository" ref="artistRepository"/>
    </bean>

    <bean id="trackService" class="co.music.discography.services.TrackService">
        <property name="repo" ref="trackRepository"/>
        <property name="artistService" ref="artistService"/>
    </bean>

</beans>